body{
  background-color:#DAF7F6;
  color: #3B3B3B ;
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
}

main{
	width: 1000px;
	margin: 0 auto;
 }

header{
  background-color: white;
  text-align: center; 
}

h1{
  color:#F16059;
  font-family:'Montserrat', sans-serif;
  font-size: 48px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 40px 0;

}

header img{
  margin-right: 16px;
}


.card{
  margin: 25px 0;
  overflow: auto;
}

.image{
  float: left;
  width: 500px;
  height: 550px;
  }

.recipe{
  background: white;
  float: left;
  padding: 20px;
  width: 500px;
  height: 550px;
  box-sizing: border-box;
  border: solid 2px black;
}

#cookies .image{
  background-image: url('../img/gluten-free-sugar-cookies.jpg');
  background-size: cover;
  }

#pesto .image{
  background-image: url('../img/nut-free-pesto.jpg');
  background-size: cover;
}

#salad .image{
  background-image:url('../img/watermelon-salad.jpg');
  background-size: cover;
}

.recipe h2{
  font-family:'Open Sans', sans-serif;
  font-size: 24px;
  color:  #F16059;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  line-height: 29px;
}

.time{
  margin-bottom: 20px;
  border: 1px solid #3B3B3B;
  overflow: auto; 
}

.time div{
  float: left;
  padding-left: 6px;
  width: 33.3333%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.time .cook{
  border: 0.3px;
  border-style: solid;
  border-color:  #3B3B3B; 
}

.time img{
  margin-right: 5px;
  width: 15px;
  height: auto;
  vertical-align: middle;
}

.time-details{
  display: inline-block;
}

.time strong{
  font-family:'Montserrat',sans-serif;
}

.columns{
  overflow: auto;
}

.directions{
  float: left;
  width: 240px;
}
.ingredients{
  float: left;
  width: 205px;
  margin-right: 5px;
}
  .recipe h3{
    padding: 10px;
    border-top:2px solid #3b3b3b;
    border-bottom:2px solid #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f16059;
  }

  .ingredietns ol li{
    padding-left: 2px;
    line-height: 5px;
  }